* {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
}

.hide {
    display: none;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    font-family: "Pretendard";
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%) no-repeat;
}

h1 {
    text-align: center;
    margin: 72px 0 60px;
}

h1 img {
width: 244px;
height: 48px;
}

.timer {
    width: 400px;
    margin: 0 auto;
    padding: 48px 44px 40px;
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
}

.timer h2 {
    font-size: 2.4rem;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.timer h2:after {
    content: '';
    display: block;
    margin-top: 23px;
    width: 100%;
    height: 2px;
    background-image: url(./img/hr.png);
}

footer {
    font-size: 1.4rem;
    line-height: 16.8px;
    text-align: center;
    color: #8596BF;
    margin-top: 60px;
}