* {
    box-sizing: border-box;
}

h1, h2, p {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    font-family: "Pretendard";
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%) no-repeat;
}

h1 {
    text-align: center;
    margin: 72px 0 60px;
}

h1 img {
    width: 244px;
    height: 48px;
}

.timer {
    width: 400px;
    margin: 0 auto;
    padding: 48px 44px 40px;
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
}

.timer h2 {
    font-size: 2.4rem;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.timer h2:after {
    content: '';
    display: block;
    margin: 23px 0 50px;
    width: 100%;
    height: 2px;
    background-image: url(./img/hr.png);
}

.timer .timer-settings {
    padding: 0 14px; 
}

.timer-settings .time-wrapper {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url(./img/numberBox.png);
}

.time-wrapper:nth-child(1), .time-wrapper:nth-child(2){
   margin-right: 22px;
}

.time-wrapper label {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    line-height: 14.4px;
    font-weight: 700;
    color: #A5B6EE;
}

.time-wrapper input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: inherit;
    border: none;
    width: 53px;
    height: 48px;
    color: white;
    font-size: 4rem;
    line-height: 48.01px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timer-settings .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 12px;
}

.btn-wrapper button {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    font-family: inherit;
    color: #617199;
    width: 112px;
    height: 48px;
    background: #324577;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    cursor: not-allowed;
    border: none;
}

.start-btn:before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./img/icon-start-disabled.png);
}

.reset-btn:before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./img/icon-reset-disabled.png);
}

.btn-wrapper button.abled {
    cursor: pointer;
}

.btn-wrapper .start-btn.abled {
    background-color: #15C2B8;
    color: white;
}

.start-btn.abled:before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./img/icon-start.png);
}

.btn-wrapper .reset-btn.abled {
    background-color: #FB7099;
    color: white;
}

.reset-btn.abled:before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./img/icon-reset.png);
}

.btn-wrapper .pause-btn.abled {
    background-color: #15C2B8;
    color: white;
}

.btn-wrapper .pause-btn:before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./img/icon-stop.png);
}

footer {
    font-size: 1.4rem;
    line-height: 16.8px;
    text-align: center;
    color: #8596BF;
    margin-top: 60px;
}

.btn-wrapper .hide {
    display: none;
}